<div class="area form-control" style="height:100%; min-height: 500px;" >
  <div class="tools" name="tools">
    <i class="far fa-image" aria-hidden="true"></i>
    <i class="fas fa-link" aria-hidden="true"></i>
    <i class="fas fa-list-ul" aria-hidden="true"></i>
    <i class="fas fa-list-ol" aria-hidden="true"></i>
    <i class="fas fa-bold" [ngClass]="{'active':styles.bold}" aria-hidden="true" (click)="styles.bold = !styles.bold"></i>
    <i class="fas fa-italic" [ngClass]="{'active':styles.italic}" aria-hidden="true" (click)="styles.italic = !styles.italic"></i>
    <i class="fa fa-underline" [ngClass]="{'active':styles.underline}" aria-hidden="true" (click)="styles.underline = !styles.underline"></i>
    <input class="form-control" placeholder="размер шрифта" type="number" [(ngModel)]="styles.size" >
  </div>
  <div class="field"  contenteditable="true"  #area  id="area" (focus)="setStyles()" (click)="setStyles($event)"></div>
</div>
