<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Предмет</label>
    <select class="form-control" id="exampleInputEmail1">
      <option value="{{s.Id}}" *ngFor="let s of subjects"></option>
    </select>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Дата</label>
    <input type="date" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <label for="startTime">Время начала</label>
    <div class="d-flex" id="startTime">
      <select class="form-control" id="finishTimehours">
        <option value="{{s}}" *ngFor="let s of times[0]">{{s}}</option>
      </select>
      <select class="form-control" id="finishTimeminuts">
        <option value="{{s}}" *ngFor="let s of times[1]">{{s}}</option>
      </select>
    </div>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="finishTime">Время конца</label>
    <div class="d-flex" id="finishTime">
      <select class="form-control" id="finishTimehours">
        <option value="{{s}}" *ngFor="let s of times[0]">{{s}}</option>
      </select>
      <select class="form-control" id="finishTimeminuts">
        <option value="{{s}}" *ngFor="let s of times[1]">{{s}}</option>
      </select>
    </div>
    
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    
    <label for="exampleCheck1">Кабинет</label>
    <input type="number" class="form-control"  id="exampleCheck1">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
  </div>
</form>