<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >MyWebBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]='["active"]'  [routerLinkActiveOptions]='{ exact: true }' class="nav-item">
        <a [routerLink]='["/"]' class="nav-link" >Главная <span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]='["active"]' class="nav-item dropdown">
        <a [routerLink]='["/student"]' class="nav-link dropdown-toggle"   >
          Студент
        </a>
        <div class="dropdown-menu" id="navbarDropdown">
          <a class="dropdown-item" href="#">Экзамены</a>
          <a class="dropdown-item" href="#">Конспекты</a>
          <a class="dropdown-item" href="#">Расписание</a>
         
        </div>
      </li>
      <li [routerLinkActive]='["active"]' class="nav-item dropdown">
        <a [routerLink]='["/developer"]' class="nav-link dropdown-toggle"  >
          Разработчик
        </a>
        <div class="dropdown-menu" id="navbarDropdown">
          <a class="dropdown-item" href="#">Angular</a>
          <a class="dropdown-item" href="#">React.js</a>
          <a class="dropdown-item" href="#">Vue.js</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">PHP</a>
          <a class="dropdown-item" href="#">ASP.NET</a>
          <a class="dropdown-item" href="#">Node.js</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">MySql</a>
          <a class="dropdown-item" href="#">MSSql Server</a>
          <a class="dropdown-item" href="#">Oracle PL/Sql</a>
        </div>
      </li>
      <!-- <li [routerLinkActive]='["active"]' class="nav-item dropdown">
        <a [routerLink]='["/farm"]' class="nav-link dropdown-toggle" >
          Хозяйство
        </a>
        <div class="dropdown-menu" id="navbarDropdown">
          <a class="dropdown-item" href="#">Мои покупки</a>
          <a class="dropdown-item" href="#">Отпуск</a>
          <a class="dropdown-item" href="#">Полезные контакты</a>
        </div>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>