<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >DevPortal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="user.Root==1" [routerLinkActive]='["active"]'  [routerLinkActiveOptions]='{ exact: true }' class="nav-item">
        <a [routerLink]='["/"]' class="nav-link" >Главная <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="user.Root==1" [routerLinkActive]='["active"]' class="nav-item dropdown">
        <!-- <a [routerLink]='["/student"]' class="nav-link dropdown-toggle"   > -->
        <a [routerLink]='["/student"]' class="nav-link"   >
          Студент
        </a>
      </li>
      <li [routerLinkActive]='["active"]' class="nav-item dropdown">
        <a [routerLink]='["/developer"]' class="nav-link"  >
          Разработка
        </a>
      </li>
      <li *ngIf="user.Root==1" [routerLinkActive]='["active"]' class="nav-item dropdown">
        <a style="cursor: pointer;" class="nav-link" (click)="show(modal)">
          Привилегии
        </a>
        <!-- <div class="dropdown-menu" id="navbarDropdown">
          <a class="dropdown-item" href="#">Мои покупки</a>
          <a class="dropdown-item" href="#">Отпуск</a>
          <a class="dropdown-item" href="#">Полезные контакты</a>
        </div> -->
        
      </li>
    </ul>
    <div class="d-flex align-items-center dropdown">
      <img src="{{user.Photo}}" style="height:40px" class="rounded-circle">
      <span class="pl-3">{{user.Name}}</span>
      <div class="dropdown-menu" id="navbarDropdown">
        <a style="cursor: pointer;" class="dropdown-item" (click)="exit()">Выйти</a>
        
      </div>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<ng-template class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Права пользователь</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)=close()>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div [ngSwitch]="adding" class="modal-body">
    <form [formGroup]="prevForm">
      <div class="form-group ">
        <label for="exampleInputEmail1">Пользователь</label>
        <select formControlName="UserId" class="form-control " id="exampleInputEmail1" >
          <option value="{{u.Id}}" *ngFor="let u of users">{{u.Name}}</option>
        </select>
        <small *ngIf="submitted && f.UserId.errors" class="form-text text-danger">Выберите пользователя</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Уровень доступа</label>
        <input formControlName="Root" type="number" class="form-control" id="exampleInputPassword1" >
        <small *ngIf="submitted && f.Root.errors" class="form-text text-danger">Укажите уровень доступа</small>
      </div>
      <button  class="btn btn-primary" (click)=save()>Сохранить</button>
    </form>
  </div>

</ng-template>