<div class="container">
  <h3 class="pt-3">{{tech?tech.Name:(paper?paper.Subject.Name:'')}}</h3>
  <div class="card">
    <div class="card-body">
      <h4>Добавить новую тему</h4>
      <form [formGroup]="topicForm">
        <div class="form-group">
          <label for="name">Название</label>
          <input formControlName="Name" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Описание</label>
          <textarea formControlName="Description" class="form-control topic" id="exampleFormControlTextarea1" ></textarea>
        </div>
      </form>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="addTopic()" >Добавить</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="tech" class="container">
  <ul *ngIf="tech.Topics"  class="list-group my-3">
    <li *ngFor="let t of tech.Topics; let i = index" [ngStyle]="{'background-color':(parts[i]?'white':'')}"  [ngClass]="{'p-3':parts[i], 'p-0':!parts[i]}" class="list-group-item dropdown"  >
      <div style="cursor:pointer" class="d-flex justify-content-between" (click)="showPart($event,i)">
        <h5 class="d-block py-3 m-0 overflow-hidden {{parts[i]?'pr-3':'px-3'}}" >{{t.Name}}</h5>
        <button *ngIf="parts[i]" class="btn btn-link" (click)="changeTopic(i,t.Description)" name="change">Изменить</button>
      </div>
      
      <div  [ngStyle]="{'display':(parts[i]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <!-- <div   class="card mb-3 flex-sm-row align-items-center " >
          <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
            
            
          </div>
        </div> -->
        <!-- <div class="form-group form-check d-flex justify-content-end">
          <button class="btn btn-link">Изменить</button>
        </div> -->
        <div [ngStyle]="{'display':ctopics[i]?'none':''}">
          <pre  class="prettyprint rounded border-0">{{t.Description}}</pre>
          
        </div>
        <div   [ngStyle]="{'display':!ctopics[i]?'none':''}">
          <textarea [(ngModel)]="t.Description"  class="topic-show" value="{{t.Description}}"></textarea>
          <button class="btn btn-primary mt-3" [disabled]="changing==t.Description" (click)="save(t)">Сохранить</button>
        </div>
        
        
      </div>
    </li>
  </ul>
</div>
<div *ngIf="paper" class="container">
  <ul *ngIf="paper.Topics"  class="list-group my-3">
    <li *ngFor="let t of paper.Topics; let i = index" [ngStyle]="{'background-color':(parts[i]?'white':'')}"  [ngClass]="{'p-3':parts[i], 'p-0':!parts[i]}" class="list-group-item dropdown"  >
      <div style="cursor:pointer" class="d-flex justify-content-between" (click)="showPPart($event,i,t.Description)">
        <h5 class="d-block py-3 m-0 overflow-hidden {{parts[i]?'pr-3':'px-3'}}" >{{t.Name}}</h5>
        
      </div>
      
      <div  [ngStyle]="{'display':(parts[i]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <!-- <div   class="card mb-3 flex-sm-row align-items-center " >
          <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
            
            
          </div>
        </div> -->
        <!-- <div class="form-group form-check d-flex justify-content-end">
          <button class="btn btn-link">Изменить</button>
        </div> -->
        
        <div>
          <textarea [(ngModel)]="t.Description"  class="topic-show" value="{{t.Description}}"></textarea>
          <button class="btn btn-primary mt-3" [disabled]="changing==t.Description " (click)="save(t)">Сохранить</button>
        </div>
        
        
      </div>
    </li>
  </ul>
</div>