/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Play', sans-serif;
    outline: none;
}
body{
    min-width: 245px;
}

form>.modal-footer{
    margin-left:-16px;
    margin-right: -16px;
    margin-bottom: -16px; 
}

@media (min-width:800px){
    .empty-option{
        display: none;
    }
}
.blur{
    background-color: rgba(0, 0, 0, 0.116);
}