/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Play', sans-serif;
    outline: none;
}
body{
    min-width: 245px;
}

form>.modal-footer{
    margin-left:-16px;
    margin-right: -16px;
    margin-bottom: -16px; 
}

@media (min-width:800px){
    .pages::-webkit-scrollbar{
        height: 5px;
    }
    .empty-option{
        display: none;
    }
}
.blur{
    background-color: rgba(0, 0, 0, 0.116);
}
.page-link:focus{
    box-shadow: none;
}
.pages{
    max-width: 50vw;
    overflow: hidden;
    overflow-x: scroll;
}
.pages a{
        border-radius: 0 !important;
    }
    
    .pages::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
    
    /* Track */
    .pages::-webkit-scrollbar-track {
        box-shadow: none;; 
        border-radius: 4px;
        background-color: white;
    }
    
    /* Handle */
    .pages::-webkit-scrollbar-thumb {
        background: rgb(207, 216, 255); 
        
        border-radius: 4px;
    }
    
    /* Handle on hover */
    .pages::-webkit-scrollbar-thumb:hover {
        background: #b6c3ff; 
    }
