<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/images/myphoto.jpg" alt="" class="rounded float-sm-left w-100 mt-3 mr-3">
    </div>
    <div class="col-md-6">
      <h3 class="m-3">Привет интернет странник!</h3 >
      <p class="lead">Меня зовут Ваня и это мой блог.</p>
      <blockquote class="blockquote">
        <p class="mb-0">Примерно год назад я начал изучать веб-разработку и сегодня я решал, почему бы не сделать сайт, на который я могу зайти с любого устройства и 
          посмотреть нужную мне информацию... Так появился этот сайт. Возможно, когда-нибудь он будет самым популярным в мире...
        </p>
        <footer class="blockquote-footer">16.01.2019</footer>
      </blockquote>
    </div>
  </div>
  
  
  <div style="clear:both" class="my-3">
    <h3>Краткая предыстория</h3>
    <p>Началось все с того, что по счастливому стеччению обстоятельств я попал на стажировку в <mark class="bg-info rounded"><a class='text-light' href="https://www.luxoft.com/">Luxoft</a></mark>
      Конечно, я был безумно рад этой возможности, упавшей мне буквально с неба, поэтом урешил для себя, что удержусь за нее любой ценой. 
      <br><br>
      После переговоров с моим будущим тогда начальством, я внезапно осознал, что меня направляют в команду, разрабатывающую веб портал для <abbr title="Внешторгбанк">ВТБ</abbr>. 
      Такая новость меня конечно ошеломила: во-первых, я на первом курси универа, буду работать в ВТБ..., во-вторых мне придется учиться веб программированию абсолютно с нуля!
      Я упорно начал учить html, js, css, angular и другие технологии и теперь могу сдлелать любой сай, какой захочу.  :) 
      <br><br>
      Можешь пользовать всеми материалами, которые найдешь здесь! Удачи :)
    </p>
  </div>
</div>
