<div *ngIf="task && task.Id && type=='task'" class="container pt-3">
  <h3>#{{task.Id}}: {{task.Name}}</h3>
  <form>
    <div class="d-flex flex-wrap">
      <div class="form-group pr-3">
        <label for="exampleInputEmail1">Исполнитель</label>
        <select [(ngModel)]="task.UserId" [ngModelOptions]="{standalone: true}"  class="form-control" id="exampleInputEmail1"  >
          <option  value="{{t.Id}}" *ngFor="let t of team">{{t.Name}}</option>
        </select>
      </div>
      <div class="form-group pr-3">
        <label for="st">Статус</label>
        <select [(ngModel)]="task.Status" [ngModelOptions]="{standalone: true}"  class="form-control" id="st">
          <option value="{{s}}" *ngFor="let s of getStatuses()">{{s}}</option>
        </select>
      </div>
      <div class="form-group pr-3">
        <label for="pr">Приоритет</label>
        <select [(ngModel)]="task.Priority" [ngModelOptions]="{standalone: true}" class="form-control" id="pr" >
          <option value="{{p}}" *ngFor="let p of getPriorities()">{{p}}</option>
        </select>
      </div>
      <div class="form-group pr-3 d-flex align-items-end">
        <button (click)="showReq()" class="btn btn-link">Требование</button>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Описание</label>
      <textarea [(ngModel)]="task.Description" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
    </div>
    <button *ngIf="checkTask()" (click)="ChangeTask()" type="submit" class="btn btn-primary">Сохранить</button>
  </form>
  <ul  class="list-group my-3">
    <li [ngStyle]="{'background-color':(parts[0]?'white':'')}"  [ngClass]="{'p-3':parts[0], 'p-0':!parts[0]}" class="list-group-item dropdown"  >
      <div style="cursor:pointer" class="d-flex justify-content-between" (click)="showPart(0, $event)">
        <h5 class="d-block py-3 m-0 overflow-hidden {{parts[0]?'pr-3':'px-3'}}" >Полезные ссылки</h5>
        
      </div>
      
      <div  [ngStyle]="{'display':(parts[0]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div class="mb-4 ">
          <a class="d-block" href="{{l.Path}}" target="blank" *ngFor="let l of links">{{l.Text}}</a>
        </div>
        <form class="form-inline  my-lg-0">
          <input class="form-control mr-sm-2 my-2" type="text" placeholder="Текст" required #lnktext>
          <input class="form-control mr-sm-2" type="text" placeholder="Ссылка" required #lnk>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="addLink(lnktext, lnk)">Добавить</button>
        </form>
      </div>
    </li>
    <li [ngStyle]="{'background-color':(parts[1]?'white':'')}"  [ngClass]="{'p-3':parts[1], 'p-0':!parts[1]}" class="list-group-item dropdown"  >
      <div style="cursor:pointer" class="d-flex justify-content-between" (click)="showPart(1,$event)">
        <h5 class="d-block py-3 m-0 overflow-hidden {{parts[1]?'pr-3':'px-3'}}" >Файлы</h5>
        <button *ngIf="parts[1]" class = "btn btn-link p-0 mr-2" (click)="sendYandexLink()" name="yandex">{{yandexLink?'Загрузить файл':'Ссылка на диск'}}</button>
      </div>
      
      <div  [ngStyle]="{'display':(parts[1]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div class="mb-4 ">
          <a class="d-block" href="{{l.Path}}" target="blank" *ngFor="let l of files" download="{{l.Path}}">{{l.Text}}</a>
        </div>
        <form class="form-inline  my-lg-0">
          <input [ngClass]="{'d-none':!yandexLink}" class="form-control mr-sm-2 my-2" type="text" placeholder="Текст" required #lnktextf>
          <input  class="mr-sm-2 my-2" [ngClass]="{'d-none':yandexLink}" type="file" placeholder="Ссылка" required #file>
          <input [ngClass]="{'d-none':!yandexLink}" class="form-control mr-sm-2 my-2" type="text" placeholder="Ссылка" required #lnkf>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="yandexLink?addFileLink(lnktextf, lnkf):addFile(file)">Добавить</button>
        </form>
        <small *ngIf="fileSubmitted" class="form-text text-danger">Размер файла слишком большой. Загрузите его на Яндекс Диск и оставьте <a style="cursor: pointer" (click)="sendYandexLink()">здесь ссылку</a>.</small>
      </div>
    </li>
  </ul>
  
</div>
<div *ngIf="req && req.Id && type=='req'" class="container pt-3">
  <h3>#{{req.Id}}: {{req.Name}}</h3>
  <form>
    
    <div class="form-group">
      <label for="st1">Статус</label>
      <select [(ngModel)]="req.Status" [ngModelOptions]="{standalone: true}"  class="form-control" id="st1" [disabled]="readonly">
        <option value="{{s}}" *ngFor="let s of getStatuses()">{{s}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Описание</label>
      <textarea [(ngModel)]="req.Description"  [ngModelOptions]="{standalone: true}" value="{{req.Description}}" class="form-control" id="exampleFormControlTextarea1" rows="6" [readonly]="readonly"></textarea>
    </div>
    <button *ngIf="checkReq()" class="btn btn-primary" (click)="ChangeReq()">Сохранить</button>
  </form>
 
  <ul  class="list-group my-3">
    <li [ngStyle]="{'background-color':(parts[0]?'white':'')}"  [ngClass]="{'p-3':parts[0], 'p-0':!parts[0]}" class="list-group-item dropdown"  >
      <div style="cursor:pointer" class="d-flex justify-content-between" (click)="showPart(0,$event)">
        <h5 class="d-block py-3 m-0 overflow-hidden {{parts[0]?'pr-3':'px-3'}}" >Полезные ссылки</h5>
      </div>
      
      <div  [ngStyle]="{'display':(parts[0]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div class="mb-4 ">
          <a class="d-block" href="{{l.Path}}" target="blank" *ngFor="let l of links">{{l.Text}}</a>
        </div>
        <form class="form-inline  my-lg-0">
          <input class="form-control mr-sm-2 my-2" type="text" placeholder="Текст" required #lnktextreq>
          <input class="form-control mr-sm-2" type="text" placeholder="Ссылка" required #lnkreq>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="addLink(lnktextreq, lnkreq)">Добавить</button>
        </form>
      </div>
    </li>
    <li [ngStyle]="{'background-color':(parts[2]?'white':'')}"  [ngClass]="{'p-3':parts[2], 'p-0':!parts[2]}" class="list-group-item dropdown"  >
      <div style="cursor:pointer" class="d-flex justify-content-between" (click)="showPart(2,$event)">
        <h5 class="d-block py-3 m-0 overflow-hidden {{parts[2]?'pr-3':'px-3'}}" >Файлы</h5>
        <button *ngIf="parts[2]" class = "btn btn-link p-0 mr-2" (click)="sendYandexLink()" name="yandex">{{yandexLink?'Загрузить файл':'Ссылка на диск'}}</button>
      </div>
      
      <div  [ngStyle]="{'display':(parts[2]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div class="mb-4 ">
          <a class="d-block" href="{{l.Path}}" target="blank" *ngFor="let l of files" download="{{l.Path}}">{{l.Text}}</a>
        </div>
        <form class="form-inline  my-lg-0">
          <input [ngClass]="{'d-none':!yandexLink}" class="form-control mr-sm-2 my-2" type="text" placeholder="Текст" required #lnktext>
          <input  class="mr-sm-2 my-2" [ngClass]="{'d-none':yandexLink}" type="file" placeholder="Ссылка" required #file>
          <input [ngClass]="{'d-none':!yandexLink}" class="form-control mr-sm-2 my-2" type="text" placeholder="Ссылка" required #lnk>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="yandexLink?addFileLink(lnktext, lnk):addFile(file)">Добавить</button>
        </form>
        <small *ngIf="fileSubmitted" class="form-text text-danger">Размер файла слишком большой. Загрузите его на Яндекс Диск и оставьте <a style="cursor: pointer" (click)="sendYandexLink()">здесь ссылку</a>.</small>
      </div>
    </li>
    <li [ngStyle]="{'background-color':(parts[1]?'white':'')}"  [ngClass]="{'p-3':parts[1], 'p-0':!parts[1]}" class="list-group-item dropdown"  >
        <h5 class="d-block py-3 m-0 {{parts[1]?'pr-3':'px-3'}}" (click)="showPart(1,$event)" style="cursor:pointer">Задачи</h5>
      <div [ngStyle]="{'display':(parts[1]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div (click)="open('task',e.Id)"  class="card mb-3 flex-column flex-sm-row justify-content-start align-items-start align-items-sm-center" *ngFor="let e of pagedTasks[curPage]">
          <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
            <h6  class="card-title m-sm-0">{{e.Name}}</h6>
            <div class="d-inline-flex justify-content-around" >
                <span class="badge  " [ngClass]="{'bg-warning':e.Status=='Active', 'border border-success':e.Status=='Resolved', 'badge-info':e.Status!='Resolved', 'bg-success':e.Status=='Closed'}">{{e.Status}}</span>
            </div>
            
          </div>
        </div>
        <nav *ngIf="pagedTasks.length>1" class="mb-3" aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <button class="page-link"  (click)="changePage(curPage-1)" [disabled]="curPage-1<0" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </button>
            </li>
            <div class="d-flex pages">
              <li class="page-item" [ngClass]="{'active':i==curPage}" *ngFor="let p of pagedTasks; let i = index;" (click)="changePage(i)"><a class="page-link">{{i+1}}</a></li>
            </div>
            
            <li class="page-item">
              <button class="page-link" (click)="changePage(curPage+1)"  [disabled]="curPage+1==pagedTasks.length" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </button>
            </li>
          </ul>
        </nav>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success" (click)="add('task')" >Добавить</button>
        </div>
      </div>
    </li>
  </ul>
  
</div>
<div *ngIf="(task && !task.Id) || (req && !req.Id)" style="height: 25vh;" class="d-flex justify-content-center align-items-center">
  <h3>Элемент не найден</h3>
</div>
<div  class="container">
  <ul  class="list-group my-3">
    <li [ngStyle]="{'background-color':(parts[3]?'white':'')}"  [ngClass]="{'p-3':parts[3], 'p-0':!parts[3]}" class="list-group-item dropdown"  >
      <div style="cursor:pointer" class="d-flex justify-content-between" (click)="showPart(3, $event)">
        <h5 class="d-block py-3 m-0 overflow-hidden {{parts[3]?'pr-3':'px-3'}}" >Комментарии</h5>
      </div>
      
      <div  [ngStyle]="{'display':(parts[3]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div class="mb-4 " *ngIf="messages.length>0">
          <div class="card" *ngFor="let m of messages">
            <div class="card-body  p-1">
              <div class="d-flex align-items-center mb-2">
                <img src="{{m.User.Photo}}" style="height:40px" class="rounded-circle">
                <span class="pl-3">{{m.User.Name}}</span>
              </div>
              <p class="card-text">{{m.Text}}</p>
            </div>
          </div>
        </div>
        <form class="my-lg-0">
          <textarea [(ngModel)]="newMess" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" style="height:100px;" placeholder="Сообщение" required ></textarea>
          <small *ngIf="messSubmitted && newMess==''" class="form-text text-danger">Введите сообщение</small>
          <button class="btn btn-primary mt-2"  type="submit" (click)="addMessage()" >Добавить</button>
        </form>
      </div>
    </li>
  </ul>
</div>
