
<div class="container">
  <ul class="list-group my-3">
    <li [ngStyle]="{'background-color':(parts[0]?'white':'')}"  [ngClass]="{'p-3':parts[0], 'p-0':!parts[0]}"  class="list-group-item dropdown" >
        <h5 class="d-block p-3 m-0" (click)="showPart(0)" >Текущие проекты</h5>
      <div [ngStyle]="{'display':(parts[0]?'block':'none'), 'background-color':(parts[0]?'white':'')}" style="z-index:0" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div   class="card mb-3 flex-sm-row align-items-center " *ngFor="let e of projects">
          <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
            <h6 (click)="chooseExam(e.Title)" class="card-title m-sm-0">{{e.Name}}</h6>
            <div class="d-inline-flex justify-content-around" >
                <span class="badge badge-danger ">{{getResponsed(e)}}</span>
                <span class="badge badge-success mx-3">{{getResolved(e)}}</span>
                <button class="btn btn-link p-0">Завершить</button>
            </div>
            
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success" (click)="addElem('project')" data-toggle="modal" data-target="#exampleModal">Добавить</button>
          <button type="button" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </li>
    
    <li [ngStyle]="{'background-color':(parts[1]?'white':'')}"  [ngClass]="{'p-3':parts[1], 'p-0':!parts[1]}" class="list-group-item dropdown"  >
        <h5 class="d-block p-3 m-0" (click)="showPart(1)" >Фронт-енд</h5>
      <div [ngStyle]="{'display':(parts[1]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div  class="card mb-3 flex-sm-row align-items-center " *ngFor="let e of getTech(0)">
          <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
            <h6 (click)="chooseExam(e.Title)" class="card-title m-sm-0">{{e.Name}}</h6>
            <div class="d-inline-flex justify-content-around" >
                <span class="badge badge-info ">{{e.Language}}</span>
            </div>
            
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success" (click)="addElem('tech')" data-toggle="modal" data-target="#exampleModal">Добавить</button>
          <button type="button" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </li>
    <li [ngStyle]="{'background-color':(parts[2]?'white':'')}"  [ngClass]="{'p-3':parts[2], 'p-0':!parts[2]}" class="list-group-item dropdown"  >
        <h5 class="d-block p-3 m-0" (click)="showPart(2)" >Бэк-енд</h5>
      <div [ngStyle]="{'display':(parts[2]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div  class="card mb-3 flex-sm-row align-items-center " *ngFor="let e of getTech(1)">
          <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
            <h6 (click)="chooseExam(e.Title)" class="card-title m-sm-0">{{e.Name}}</h6>
            <div class="d-inline-flex justify-content-around" >
                <span class="badge badge-info ">{{e.Language}}</span>
            </div>
            
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success" (click)="addElem('tech')" data-toggle="modal" data-target="#exampleModal">Добавить</button>
          <button type="button" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </li>
    <li [ngStyle]="{'background-color':(parts[3]?'white':'')}"  [ngClass]="{'p-3':parts[3], 'p-0':!parts[3]}" class="list-group-item dropdown"  >
        <h5 class="d-block p-3 m-0" (click)="showPart(3)" >Базы данных</h5>
      <div [ngStyle]="{'display':(parts[3]?'block':'none')}" class="dropdown-menu position-relative w-100 m-0 border-0" >
        <div  class="card mb-3 flex-sm-row align-items-center " *ngFor="let e of getTech(2)">
          <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
            <h6 (click)="chooseExam(e.Title)" class="card-title m-sm-0">{{e.Name}}</h6>
            <div class="d-inline-flex justify-content-around" >
                <span class="badge badge-info ">{{e.Language}}</span>
            </div>
            
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success" (click)="addElem('tech')" data-toggle="modal" data-target="#exampleModal">Добавить</button>
          <button type="button" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </li>
    
  </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Новый элемент</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div [ngSwitch]="adding" class="modal-body">
        <new-project *ngSwitchCase="'project'"></new-project>
        <new-technology *ngSwitchCase="'tech'"></new-technology>
      </div>
    </div>
  </div>
</div>